llama-index-core
llama-index-readers-docling
llama-index-node-parser-docling
llama-index-embeddings-huggingface
llama-index-llms-huggingface-api
llama-index-readers-file
python-dotenv
llama-index-llms-ollama
requests==2.28.0
pandas==1.5.2
chardet
streamlit